@model IEnumerable<Transito.Models.Vehiculos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center mt-4">
    <h2>Vehiculos</h2>
</div>
<div class="row">
    <div class="col-2">
        @Html.ActionLink("Nuevo", "Create", null, new { @class = "col-12 btn btn-success" })
    </div>
</div>
<table id="tbVehiculos" class="table table-hover table-responsive-sm" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Propietarios.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Propietarios.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Edit", new { id = item.placa }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
