@model IEnumerable<Transito.Models.Propietarios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center mt-4">
    <h2>Propietarios</h2>
</div>
<div class="row">
    <div class="col-2">
        @Html.ActionLink("Nuevo", "Create", null, new { @class = "col-12 btn btn-success" })
    </div>
</div>
<table id="tbPropietarios" class="table table-hover table-responsive-sm" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tipo_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.tipo_Id == 1)
                    {
                        @Html.Label("CC")
                    }
                    else if (item.tipo_Id == 2)
                    {
                        @Html.Label("TI")
                    }
                    else if (item.tipo_Id == 3)
                    {
                        @Html.Label("PA")
                    }
                    else
                    {
                        @Html.Label("CE")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Edit", new { id = item.id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
